<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Mahjong_Scoreboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <Mahjong_Scoreboard.Properties.Settings>
      <setting name="uri" serializeAs="String">
        <value>http://localhost:12345/</value>
      </setting>
      <setting name="score_txt_pass" serializeAs="String">
        <value />
      </setting>
      <setting name="yonma" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="crown" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="player_a_name" serializeAs="String">
        <value>PlayerA</value>
      </setting>
      <setting name="player_a_location" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="player_b_name" serializeAs="String">
        <value>PlayerB</value>
      </setting>
      <setting name="player_b_location" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="player_c_name" serializeAs="String">
        <value>PlayerC</value>
      </setting>
      <setting name="player_d_name" serializeAs="String">
        <value>PlayerD</value>
      </setting>
      <setting name="player_d_color" serializeAs="String">
        <value>MediumAquamarine</value>
      </setting>
      <setting name="player_a_color" serializeAs="String">
        <value>LightCoral</value>
      </setting>
      <setting name="player_b_color" serializeAs="String">
        <value>Khaki</value>
      </setting>
      <setting name="player_c_color" serializeAs="String">
        <value>LightBlue</value>
      </setting>
      <setting name="player_c_location" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="player_d_location" serializeAs="String">
        <value>3</value>
      </setting>
    </Mahjong_Scoreboard.Properties.Settings>
  </userSettings>
</configuration>